/* Header & Video Container */
body{
  background: rgb(240,240,240);
  color: rgb(20,20,20);
  width:100%;
  height:100%
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif, Helvetica, Arial, sans-serif;
}
.video-text h1 {
      margin-top: -25px;
      padding-left: 34px;
      font-family: Raleway, Helvetica, Arial, sans-serif;
      font-size: 30px;
      color: white;
      user-select: none;
      cursor: default;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      letter-spacing: 13px;
}
.container {
  width: 100%;
  margin:auto;
  overflow:hidden;
}
#headerContent {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}
#headerContent .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
    opacity: 0.5;
}
.videoWrapper {
 position: relative;
 padding-bottom: 56.25%;
 padding-top: 0;
 height: 0;
}
 .videoWrapper iframe{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
video {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
    height: 100%;
  z-index: 1; }
  .mbr-overlay ~ * {
    z-index: 2; 
}
.video-logo-box {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      z-index:3;
  }
.video-logo {
      background-size: 1556px 327px;
      max-width: 70%;
      margin: auto;
    }
.img-responsive {
max-width: 100%;
max-height: auto;
}
hr.style1{
  background-color: #fff;
  display: block;
  content: '';
  width: 3.25em;
  height: 5px;
  border-radius: 2px;
}
hr.style2{
  background-color: #70b6f1;
  display: block;
  content: '';
  width: 3.25em;
  height: 5px;
  border-radius: 2px;
}
hr.style3{
  background-color: #a0f170;
  display: block;
  content: '';
  width: 3.25em;
  height: 5px;
  border-radius: 2px;
}
.seasons_area{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 735px;
}
.seasons_area h1 {
  padding-top: 150px;
  font-size: 5rem;
  color: gray;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 3.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.seasons_area p {
    padding-top: px;
    text-align: center;
    font-size: 28px;
    color: gray;
    font-family: sans-serif;
}
.seasons-image{
    position: relative;
    width: 100%;
    margin-top: -500px;
    padding-left: 1000px  
}
.rewards_area{
    background-color: #322f30;                     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 755px;
}
.section-image{
    position: relative; 
}
.rewards_area h1 {
  padding-top: 100px;
  font-size: 5rem;
  color: azure;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.5625rem;
  margin-top: 3.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.rewards_area p {
    text-align: center;
    font-size: 28px;
    color: aliceblue;
    float: left;
    font-family: sans-serif;
}
.statistics_area{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 735px;
}
.statistics_area h1 {
  padding-top: 175px;
  font-size: 5rem;
  color: gray;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.5625rem;
  margin-top: 3.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.statistics_area p {
    padding-top: px;
    text-align: center;
    font-size: 28px;
    color: gray;
    font-family: sans-serif;
}
.img-responsive-statistics {
    padding-top: 190px;
    max-width: 100%;
    max-height: auto;
}
}

/*/Newsletter/*/
.home-newsletter {
padding-bottom: 40px;
}
.home-newsletter .single {
max-width: 400px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h1 {
font-size: 3rem;
    color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.home-newsletter .single p {
  display: block;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Lora";
  margin-left: 0px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 30px; 
}
.home-newsletter .single .form-control {
height: 40px;
background: rgba(255, 255, 255, 0.0);
border-color: #fff;
color: #fff;
}
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #fff; 
}
.home-newsletter .single .form-control:hover {
box-shadow: none;
border-color: #fff;
background: rgba(255, 255, 255, 0.1);
transition: .5s;
}
.home-newsletter .single .btn {
min-height: 40px; 
border-color: #fff;
background: rgba(255, 255, 255, 0.0);
color: #fff;
}
.home-newsletter .single .btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: .5s;
    box-shadow: none; 
}
/* Footer */
ul {
    padding:0;
    list-style: none;
    align-content: center;
}
.footer-social-icons {
    width: 450px;
    padding-left: 50px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 50px;
    align-content: center;
    font-size: 2rem;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    align-content: center;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
    align-content: center;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
.footer-copyright {
    text-align: center;
    color: gray;
}
.footer-section {
    background: linear-gradient(
                     rgba(20,20,20, .8), 
                     rgba(20,20,20, .8)),
                     url(../img/165c49385c25de846b08e11c9b061af9d339f2d7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 390px;
}
    
}










/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.video-text h1 {display: none;}  
.home-newsletter .single h1 {font-size:2rem;}/*1rem = 16px*/
.seasons_area { height: 420px;}
.rewards_area { height: 420px;}
.statistics_area { height: 420px;}
  .seasons_area h1 {font-size:2rem;
                    margin-top: 0px;
                    padding-top: 50px;} /*1rem = 16px*/
  .seasons_area p {font-size:1.3rem;} /*1rem = 16px*/
  .rewards_area h1 {font-size:2rem;
                    margin-top: 0px;
                    padding-top: 50px;} /*1rem = 16px*/
  .rewards_area p {font-size:1.3rem;} /*1rem = 16px*/
  .statistics_area h1 {font-size:2rem;
                    margin-top: 0px;
                    padding-top: 50px;} /*1rem = 16px*/
  .statistics_area p {font-size:1.3rem;} /*1rem = 16px*/
    .section-image {display: none;}

    ul.social-icons {
    margin-top: 50px;
    align-content: center;
    font-size: 1rem;
}
        
    .footer-social-icons {
    width: 450px;
    padding-left: 20px;
    display:block;
    margin: 0 auto;
}
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
.video-text h1 {font-size: 0.7rem;
                padding-top: 40px;} 
.home-newsletter .single h1 {font-size:3rem;} /*1rem = 16px*/ 
  .seasons_area { height: 470px;}
.rewards_area { height: 415px;}
.statistics_area { height: 380px;}
  .seasons_area h1 {font-size:3rem;
                    padding-top: 150px;} /*1rem = 16px*/
  .seasons_area p {font-size:1.3rem;} /*1rem = 16px*/
  .rewards_area h1 {font-size:3rem;
                    padding-top: 5.5rem;} /*1rem = 16px*/
  .rewards_area p {font-size:1.3rem;} /*1rem = 16px*/
  .statistics_area h1 {font-size:3rem;
                    padding-top: 3.5rem;} /*1rem = 16px*/
  .statistics_area p {font-size:1.3rem;} /*1rem = 16px*/
    .section-image {display: none;}
        ul.social-icons {
    margin-top: 50px;
    align-content: center;
    font-size: 1rem;
}
        
    .footer-social-icons {
    width: 450px;
    padding-left: 20px;
    display:block;
    margin: 0 auto;
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 968px) {
    .video-text h1 {font-size: 0.6rem;}
.home-newsletter .single h1 {font-size:3rem;} /*1rem = 16px*/ 
 .seasons_area { height: 470px;}
.rewards_area { height: 415px;}
.statistics_area { height: 380px;}
  .seasons_area h1 {font-size:3rem;
                    padding-top: 150px;} /*1rem = 16px*/
  .seasons_area p {font-size:1.3rem;} /*1rem = 16px*/
  .rewards_area h1 {font-size:3rem;
                    padding-top: 5.5rem;} /*1rem = 16px*/
  .rewards_area p {font-size:1.3rem;} /*1rem = 16px*/
  .statistics_area h1 {font-size:3rem;
                    padding-top: 3.5rem;} /*1rem = 16px*/
  .statistics_area p {font-size:1.3rem;} /*1rem = 16px*/
    .section-image {display: block;}
    .img-responsive-statistics {margin-top: -70px;}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .video-text h1 {font-size: 1rem;
                    padding-top: 40px}
.home-newsletter .single h1 {font-size:3rem;} /*1rem = 16px*/ 
 .seasons_area { height: 470px;}
.rewards_area { height: 415px;}
.statistics_area { height: 380px;}
  .seasons_area h1 {font-size:3rem;
                    padding-top: 150px;} /*1rem = 16px*/
  .seasons_area p {font-size:1.3rem;} /*1rem = 16px*/
  .rewards_area h1 {font-size:3rem;
                    padding-top: 5.5rem;} /*1rem = 16px*/
  .rewards_area p {font-size:1.3rem;} /*1rem = 16px*/
  .statistics_area h1 {font-size:3rem;
                    padding-top: 3.5rem;} /*1rem = 16px*/
  .statistics_area p {font-size:1.3rem;} /*1rem = 16px*/
    .img-responsive-statistics {margin-top: -100px;}
    .section-image {display: block;}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .video-text h1 {font-size: 30px;}
  .home-newsletter .single h1 {font-size:3rem;} /*1rem = 16px*/
    .seasons_area { height: 735px;}
.rewards_area { height: 755px;}
.statistics_area { height: 735px;}
  .seasons_area h1 {font-size:5rem;
                    margin-top: 150px;
                    padding-top: 3.5rem;} /*1rem = 16px*/
  .seasons_area p {font-size:2rem;} /*1rem = 16px*/
  .rewards_area h1 {font-size:5rem;
                    margin-top: 150px;
                    padding-top: 3.5rem;} /*1rem = 16px*/
  .rewards_area p {font-size:2rem;} /*1rem = 16px*/
  .statistics_area h1 {font-size:5rem;
                    margin-top: 150px;
                    padding-top: 3.5rem;} /*1rem = 16px*/
  .statistics_area p {font-size:2rem;} /*1rem = 16px*/
  .section-image {display: block;}
     .img-responsive-statistics {margin-top: 30px;}

}
    ul.social-icons {
    margin-top: 50px;
    align-content: center;
    font-size: 2rem;
}
        
    .footer-social-icons {
    width: 450px;
    padding-left: 50px;
    display:block;
    margin: 0 auto;
}
/* Extra large devices (large desktops, 1200px and up) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {  
  .home-newsletter .single h1 {font-size:3rem;} /*1rem = 16px*/ 
  .seasons_area h1 {font-size:5rem;} /*1rem = 16px*/
  .rewards_area h1 {font-size:5rem;} /*1rem = 16px*/
  .statistics_area h1 {font-size:5rem;} /*1rem = 16px*/
    .seasons-image {display: none;}
    .rewards-image {display: none;}
    .statistics-image {display:none;}
}