body{
  background: rgb(240,240,240);
  color: rgb(20,20,20);
  font-size: 16px;
  font-family: sans-serif, Helvetica, Arial, sans-serif;
}
.container {
  width: 88%;
  margin:auto;
  overflow:hidden;
}

.header_bg {
  height: 750px;
  background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-501838.jpg);
  background-position: center;
  border-bottom: #a3a3a3 3px solid;
}
.header_logo {
    margin-top: 180px;
    width: 100%;
    height: 100%;
}
#boxes {
  margin-top: 165px;
  padding-bottom: 165px;
}
.img-responsive {
max-width: 40%;
max-height: auto;
}
#boxes h3{
  font-weight:bold;
  font-family: raleway;
  color: grey;
}
/* Newsletter */
#emailnotification{
  padding:15px;
  color:#ffffff;
}

#emailnotification h3{
  float:center;
  font-size: 19px;
  margin-left: 11px;
  font-family: raleway;
  color: grey;
}

#emailnotification form {
  float:center;
  margin-left: 22px;
}

#emailnotification input[type="email"]{
  padding:4px;
  height:38px;
  width:250px;
  color:gray;
}
.subscribebutton{
  height:38px;
  background:lightgray;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:rgb(30,30,30);
}
.subscribebutton:hover {
  color: white;
}
#footer{
  padding: 10px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
}
#footer a {
  color: lightgrey;
  font-size: 34px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer a:hover {
  color: white;
}
hr.style1{
  background-color: #f17070;
  display: block;
  content: '';
  width: 3.25em;
  height: 5px;
  border-radius: 2px;
}
hr.style2{
  background-color: #70b6f1;
  display: block;
  content: '';
  width: 3.25em;
  height: 5px;
  border-radius: 2px;
}
hr.style3{
  background-color: #a0f170;
  display: block;
  content: '';
  width: 3.25em;
  height: 5px;
  border-radius: 2px;
}
