/* style.css */
body{
  background: rgb(240,240,240);
  color: rgb(20,20,20);
  font-size: 16px;
  font-family: Oswald;
}
h1{
  font-family: Oswald:;
  color: rgb(20,20,20);
  font-weight: lighter;
  font-size: 40px;
}
h2 {
  font-family: Oswald;
  color: rgb(20,20,20);
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: rgb(20,20,20);
}
a:hover {
  text-decoration: none;
  color: #68868C;
}

/* Custom Design */

#banner{
width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}
#banner > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.splash-box {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}
 
.splash-logo {
    background-image: url('https://i.imgur.com/0O46Ivt.png');
    background-size: 574px 112px;
    width: 574px;
    height: 112px;
    margin: auto;
}
 
.splash-text {
    margin-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: white;
    user-select: none;
    cursor: default;
}
#footer{
  text-align: center;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#footer a {
  text-align: center;
  margin: 0 auto;
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: white;
}
.card{
  padding: 50px;
  font-weight: lighter;
  text-align: center;
}